<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- bootstrap -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- font awesome -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- custom-styles -->
	<link type="text/css" rel="stylesheet" href="stylesheet/main.css">
	<!-- jquery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<!-- ui router -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
	<!-- satellizer -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.0/satellizer.min.js"></script>
	<!-- custom-script -->
	<script type="text/javascript" src="javascript/app.js"></script>
	<title>Sonoma Food Taxi</title>
</head>
<body>
	
</body>
</html>