<div class="content">
<!-- TODO: refactor to ul,li -->
	<div class="restBox" ng-controller="RestaurantCtrl as restaurant">
		<h4 > Step2: Select Food Items</h4>		
		<h4>Menu:</h4>
		<span class="pull-left"><strong>Items:</strong></span><span class="pull-right"><strong>Price:</strong>&nbsp &nbsp &nbsp</span>
		<br>



		<div ng-repeat="food in restaurant.menu.foods">
			<p>{{food.name}}</p>
			<p>{{food.price}}</p>	
			<ngcart-addtocart id="{{ food._id }}" name="{{ food.name }}" price="{{ food.price }}" quantity="1" quantity-max="30">
			Add To Cart</ngcart-addtocart>

	<!-- 		<a href ng-click="addToCart(name, price)">			
				<span class= "pull-left">{{food.name}}</span>
				<span class= "pull-right"> {{food.price | currency}} &nbsp
				<i class="fa fa-cart-plus fa-lg"></i>
				</span>
			</a> -->
			<br>
				
			
			<br>
			<hr>
		</div>
	</div>

	<div class="restBox">
    <h4>Your order</h4>
    <form>
      <ul>
        <li ng-repeat="item in cart.items">
          <a href ng-click="cart.remove(item)"><i class="fa fa-times"></i></a>
          {{item.qty}} &times; {{item.name}}
        </li>
      </ul>
      <div class="pull-right" ng-show="cart.items.length">
        <a href="#/checkout" ng-disabled="!cart.items.length" class="btn">Checkout</a>
      </div>
      <p>
        <b>Total: {{cart.total() | currency}}</b>
      </p>
    </form>
  </div>
</div>
